<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-back-button slot="start"></ion-back-button>
    <img slot="end" class="logo" src="assets/imgs/logoletras1.png" alt="">
  </ion-toolbar>
</ion-header>

<ion-content>
  <img class="refugioimage" src="assets/imgs/refugio.jpg">

  <p class="title">Refugio de prueba</p>

  <div class="info">
  <ion-item class="item" lines="none">
    <ion-icon slot="start" src="assets/icon/phone.svg"></ion-icon>
    <p>123456789</p>
  </ion-item>

  <ion-item lines="none">
    <ion-icon slot="start" src="assets/icon/location.svg"></ion-icon>
    <p >Calle santa Lucia 12, Cádiz, España</p>
  </ion-item>

  <ion-item lines="none">
    <ion-icon slot="start" src="assets/icon/web.svg"></ion-icon>
    <p>refugiodeprueba.com</p>
  </ion-item>
  </div>

  <p class="texto">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>

  <ion-item class="buttons ion-no-padding"  lines="none">
    <ion-button class="refugio">
      Ver en el mapa
      
    </ion-button>
    <ion-button class="fav">
      Contactar
      
    </ion-button>

  </ion-item>
  <ion-button class="submit" expand="block">Ver animales en adopción </ion-button>

 
</ion-content>
