<ion-header class="ion-no-border">
  <ion-toolbar no-padding translucent>
    <ion-back-button slot="start"></ion-back-button>
    <img slot="start" class="logo" src="assets/imgs/logoletras1.png" alt="">
    
    <ion-button class="create" slot="end" routerLink="/create-pet">Crear mascota</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
<br>

<ion-searchbar placeholder="Buscar" inputmode="text" type="text" (ionInput)="filterList($event)"></ion-searchbar>

<br>

<p class="empty" *ngIf="pets?.length === 0">No hay ninguna mascota creada todavia</p>

  <ion-card *ngFor="let pet of pets">
    <ion-row class="ion-no-padding">
    <ion-col class="ion-no-padding">
      <img src="{{pet?.image}}" alt="">
    </ion-col>
    <ion-col class="ion-no-padding">
    <p class="title">{{pet?.name}}</p><br>
    <ion-item class="ion-no-padding buttons" lines="none">
      <ion-button class="edit" (click)="goToInteriorPet(pet)">Ver</ion-button>
      <ion-button class="edit" (click)="goToEditPet(pet)">Editar</ion-button>
      <ion-button class="delete" (click)="deletePet(pet)"><ion-icon src="assets/icon/delete.svg"></ion-icon></ion-button>
      
      
    </ion-item>
    
    </ion-col>
  </ion-row>
  </ion-card>

  

</ion-content>
