<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-back-button slot="start"></ion-back-button>
    <img slot="end" class="logo" src="assets/imgs/logoletras1.png" alt="">
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides pager="true">
  <ion-slide class="slide1">
  <img class="petimage" src="{{this.pet?.image}}">
  </ion-slide>
  <ion-slide class="slide1">
    <img class="petimage" src="{{this.pet?.image}}">
    </ion-slide>
  </ion-slides>
  
  <ion-card class="principal">
    <ion-icon class="category-icon" src="{{this.pet?.category?.icon}}"></ion-icon>
    <p class="name">{{this.pet?.name}}</p>
    <ion-item lines="none">
      <p class="label" slot="start">Tipo de animal:</p>
      <p class="data" slot="end">{{this.pet?.category?.name}}</p>
    </ion-item>

    <ion-item lines="none">
      <p class="label" slot="start">Raza:</p>
      <p class="data" slot="end">{{this.pet?.breed?.name}}</p>
    </ion-item>

    <ion-item lines="none">
      <p class="label" slot="start">Género:</p>
      <p class="data" slot="end">{{this.pet?.gender}}</p>
    </ion-item>

    <ion-item lines="none">
      <p class="label" slot="start">F.nac:</p>
      <p class="data" slot="end">{{this.pet?.birthdate}}</p>
    </ion-item>

    <ion-item lines="none">
      <p class="label" slot="start">Peso:</p>
      <p class="data" slot="end">{{this.pet?.weight}} kg</p>
    </ion-item>

    <ion-item lines="none">
      <p class="label" slot="start">Refugio:</p>
      <p class="data" slot="end">{{this.pet?.user?.name}}</p>
    </ion-item>

    <ion-item lines="none">
      <p class="label" slot="start">Cuidados especiales:</p>
      <p *ngIf="this.pet?.special_cares==1" class="data" slot="end">Si</p>
      <p *ngIf="this.pet?.special_cares==0" class="data" slot="end">No</p>
    </ion-item>

    <ion-item lines="none">
      <p class="label" slot="start">Necesita licencia ppp:</p>
      <p *ngIf="this.pet?.dangerous==1" class="data" slot="end">Si</p>
      <p *ngIf="this.pet?.dangerous==0" class="data" slot="end">No</p>
    </ion-item>

  </ion-card>

  <ion-card class="secondary">
    <ion-item lines="none">
      <p class="label" slot="start">Información adicional:</p>
      
     
    </ion-item>
    <p class="content">{{this.pet?.description}}</p>
    
  </ion-card>

  <ion-item *ngIf="this.user?.role_id == 2" class="buttons ion-no-padding"  lines="none">
    <ion-button class="refugio" (click)="goToInteriorRefugio()">
      Ir al refugio
      
    </ion-button>
    <ion-button class="fav" *ngIf="!this.pet.liked" (click)="likePet(pet)" expand="block">
      Añadir a favoritos
      
    </ion-button>
    <ion-button class="nofav" *ngIf="this.pet.liked" (click)="unlikePet(pet)" expand="block">
      Añadido a favoritos
      
    </ion-button>

  </ion-item>

  <ion-button *ngIf="this.user?.role_id == 3" class="submit" expand="block" (click)="goToInteriorRefugio()">Ir al refugio</ion-button>

  <ion-button *ngIf="this.user?.role_id == 2" class="submit" expand="block" (click)="goToAdoptionForm()">Solicitar adopción</ion-button>
</ion-content>
