ion-content{
    --background: url(../../../assets/imgs/cover1.png) no-repeat center center / cover !important;
    

    .qr{
        width: 50vw;
        height: 50vw;
        background: white;
        margin: auto;
        margin-top: 5vh;
        border-radius: 20px;
        justify-content: center;
        display: flex;

        ion-icon{
            color: black;
            margin: auto;
            font-size: 40vw;
        }
    }

    .texto{
        margin-top: 10vh;
        width: 100vw;
        background: #053f2c46;
        height: 7vh;
        justify-content: center;
        display: flex;
    }

    .pulsar{
        margin: auto;
        text-align: center;
        color: white;
    }

    .info{
       margin: auto;
       width: 14vw;
       height: 14vw;
       box-shadow: none;
       margin-top: 4vh;
       padding: 0;
       --background: #053f2c86; 
       --border-radius: 20px;
       
       ion-icon{
           font-size: 50vw;
           color: white;
       }
    }

    
}