<ion-content scrollY="false">
  
  <img class="logo" src="assets/imgs/logo.jpg" alt="">

  <img class="logo1" src="assets/imgs/logoletras.png" alt="">
  <ion-button class="login" routerLink="/login">
    INICIAR SESIÓN
  </ion-button>
  <ion-button class="register" routerLink="/register">
    QUIERO REGISTRARME
    <ion-icon slot="end" src="assets/icon/arrows-right.svg"></ion-icon>
  </ion-button>
  <ion-button class="register1" routerLink="/register-refugio">
    REGISTRARME COMO REFUGIO
    <ion-icon slot="end" src="assets/icon/arrows-right.svg"></ion-icon>
  </ion-button>
</ion-content>