<ion-tabs no-border>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="pets">
      <ion-icon src="assets/icon/huella.svg"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="refugios">
      <ion-icon src="assets/icon/house.svg"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="info">
      <ion-icon class="info" src="assets/icon/info.svg"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="qr">
      <ion-icon src="assets/icon/qr.svg"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="user-profile">
      <ion-icon src="assets/icon/profile.svg"></ion-icon>
    </ion-tab-button>
    
  </ion-tab-bar>
</ion-tabs>
