<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-back-button slot="start"></ion-back-button>
    <img slot="end" class="logo" src="assets/imgs/logoletras1.png" alt="">
  </ion-toolbar>
</ion-header>

<app-unauthorized *ngIf="user?.authorized == 1"></app-unauthorized>

<ion-content>
 
<div class="cabecera">
  <ion-avatar>
    <img src="{{user?.image}}">
  </ion-avatar>
  <p class="name">{{user?.name}}</p>

</div>

  

  
  <br>

  <ion-item class="info" lines="none">
    <ion-label>
      Nombre
    </ion-label>

    <p slot="end">{{user?.name}}</p>

  </ion-item>

  <ion-item class="info" lines="none">
    <ion-label>
      Email
    </ion-label>

    <p slot="end">{{user?.email}}</p>

  </ion-item>

  <ion-item class="info" lines="none">
    <ion-label>
      Teléfono
    </ion-label>

    <p slot="end">{{user?.phone}}</p>

  </ion-item>

  <ion-item class="info" lines="none">
    <ion-label>
      Localidad
    </ion-label>

    <p slot="end">{{user?.location}}</p>

  </ion-item>

  <ion-item class="info" lines="none">
    <ion-label>
      Web
    </ion-label>

    <p slot="end">{{user?.web}}</p>

  </ion-item>

  <ion-item class="info" lines="none">
    <ion-label>
      Link <br> donaciones
    </ion-label>

    <p slot="end">{{user?.donation}}</p>

  </ion-item>


  <ion-item class="buttons ion-no-padding"  lines="none">
    <ion-button routerLink="/edit-profile-refugio" class="refugio">
      Editar perfil
      
    </ion-button>
    <ion-button routerLink="/manage-pets" class="fav">
      Gestionar mascotas
      
    </ion-button>

  </ion-item>

  <ion-button class="submit" expand="block" routerLink="/own-requests">Ver solicitudes</ion-button>

</ion-content>
