<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-back-button slot="start"></ion-back-button>
    <img slot="end" class="logo" src="assets/imgs/logoletras1.png" alt="">
  </ion-toolbar>
</ion-header>

<ion-content>
 

  <ion-avatar>
    <img src="assets/imgs/refugio.jpg">
  </ion-avatar>

  <p class="name">Refugio de prueba</p>
  <br>

  <ion-item class="info" lines="none">
    <ion-label>
      Nombre
    </ion-label>

    <p slot="end">Refugio de prueba</p>

  </ion-item>

  <ion-item class="info" lines="none">
    <ion-label>
      Email
    </ion-label>

    <p slot="end">refugiodeprueba@gmail.com</p>

  </ion-item>

  <ion-item class="info" lines="none">
    <ion-label>
      Teléfono
    </ion-label>

    <p slot="end">123456789</p>

  </ion-item>

  <ion-item class="info" lines="none">
    <ion-label>
      Dirección
    </ion-label>

    <p slot="end">Dirección de prueba</p>

  </ion-item>

  <ion-item class="info" lines="none">
    <ion-label>
      Web
    </ion-label>

    <p slot="end">refugiodeprueba.com</p>

  </ion-item>

  <ion-item class="info" lines="none">
    <ion-label>
      Link <br> donaciones
    </ion-label>

    <p slot="end">refugiodeprueba.com</p>

  </ion-item>


  <ion-item class="buttons ion-no-padding"  lines="none">
    <ion-button class="refugio">
      Editar perfil
      
    </ion-button>
    <ion-button routerLink="/manage-pets" class="fav">
      Gestionar mascotas
      
    </ion-button>

  </ion-item>

  <ion-button class="submit" expand="block">Ver solicitudes</ion-button>

</ion-content>
