<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-back-button slot="start"></ion-back-button>
    <img slot="end" class="logo" src="assets/imgs/logoletras1.png" alt="">
  </ion-toolbar>
</ion-header>

<ion-content>
  <p class="title">CREAR <br> MASCOTA</p>
  <form *ngIf="form" [formGroup]="form" (ngSubmit)="submitForm()">

    

    <img (click)="adjuntarImagen()" class="profileimage" *ngIf="this.uploadphoto" src="{{this.base64img}}">


    <ion-button class="image" (click)="adjuntarImagen()">
      <ion-icon src="assets/icon/camera.svg"></ion-icon>
      <p *ngIf="!this.editImage">Adjuntar imágenes</p>
      <p *ngIf="this.editImage" class="uploaded">Imagen subida con éxito</p>
    </ion-button>

    <ion-item class="item" lines="none">
      <ion-label>
        Nombre *
      </ion-label>

      <ion-input clearInput type="text" placeholder="Nombre de la mascota" formControlName="name"></ion-input>

    </ion-item>

    <ion-button class="select" >
      <ion-select placeholder="Género *" formControlName="gender">
        <ion-select-option value="macho">Macho</ion-select-option>
        <ion-select-option value="hembra">Hembra</ion-select-option>
      </ion-select>
    </ion-button>

    <ion-item class="date-selector" lines="none">
      <ion-label> Fec. Nac *</ion-label>
      <ion-datetime #myPicker display-format="DD/MM/YYYY" cancelText="Cancelar" doneText="OK" placeholder="Fecha" formControlName="birthdate"
        ></ion-datetime>
    </ion-item>

    <ion-button (ionChange)="onCategoryClickAction($event)" class="select">
      <ion-select placeholder="Categoría *"  formControlName="pet_category_id">
        <ion-select-option *ngFor="let category of categories" [value]="category?.id">{{category.name}}</ion-select-option>
      </ion-select>
    </ion-button>

    <ion-button *ngIf="!this.filtered" class="select">
      <ion-select  placeholder="Raza" formControlName="pet_breed_id">
        <ion-select-option  *ngFor="let breed of breeds" [value]="breed?.id">{{breed.name}}</ion-select-option>
      </ion-select>
    </ion-button>

    <ion-button *ngIf="this.filtered" class="select">
      <ion-select  placeholder="Raza" formControlName="pet_breed_id">
        <ion-select-option  *ngFor="let breed of filteredBreeds" [value]="breed?.id">{{breed.name}}</ion-select-option>
      </ion-select>
    </ion-button>

    <ion-button class="select" >
      <ion-select placeholder="Tamaño *" formControlName="size">
        <ion-select-option value="pequeño">Pequeño</ion-select-option>
        <ion-select-option value="mediano">Mediano</ion-select-option>
        <ion-select-option value="grande">Grande</ion-select-option>
      </ion-select>
    </ion-button>

    <ion-button class="select" >
      <ion-select placeholder="Actividad *" formControlName="activity">
        <ion-select-option value="poca">Poca actividad</ion-select-option>
        <ion-select-option value="normal">Normal</ion-select-option>
        <ion-select-option value="mucha">Muy activo</ion-select-option>
      </ion-select>
    </ion-button>
    
  
    <ion-item class="item" lines="none">
      <ion-label>
        Peso *
      </ion-label>
      <ion-input clearInput type="text" placeholder="Peso" formControlName="weight"></ion-input>

    </ion-item>

    <ion-item class="check" lines="none">
      <ion-checkbox (ionChange)="updateCares()"></ion-checkbox>
      <p>Mascotas con cuidados especiales</p>
  
    </ion-item>
  
    <ion-item class="check" lines="none">
      <ion-checkbox (ionChange)="updateBreed()"></ion-checkbox>
      <p>Mascotas con licencia ppp</p>
  
    </ion-item>
    
   
    <ion-textarea formControlName="description">
      <p>Descripción *</p>
    </ion-textarea>



 

    
   

    
    <ion-button type="submit" class="submit" expand="block">Crear mascota</ion-button>
    
  </form>
</ion-content>
